/* header */

*{
    font-family: 'Roboto', sans-serif;

    padding: 0;
    margin: 0;
}

.subtitle-1{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15px;
}


.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
}
.menu-section > button{
    padding: .5rem 0rem;
    border: solid gray 0px;
    margin: .5rem 1rem;
    background-color: transparent;

}
.logo{

    height: 2rem;
    width: 2rem;
}

@media only screen and (min-width: 900px) {
    /* header */
    .hamburger{
        display: none;
    }

    .menu-section{
        display: flex;
    }
}